<div class="banner">
    <div class="xbox">
        <h2>Xbox</h2>
    </div>
    
    <div class="playstation">
        <h2>PlayStation</h2>
    </div>
    
    <div class="switch">
        <h2>Switch</h2>
    </div>
</div>