 <div class="header">
        <div class='logos'> <a href='#'> <img src="img/letrasLogo.png" alt="Logo" class="logo-letras"></a>
           <a href='#'> <img src="img/dpad.png" alt="Logo" class="logo-imagen"></a>
        </div>
            <div class="barra-busqueda"><p>Buscar</p></a></div>
           <div class='r-icons'><a href="/login"> <img src="img/usuario.png" alt="Logo" class="usuario"></a>
           <a href="/productCart"> <img src="img/carrito.png" alt="Logo" class="carrito"></a>
        </div>
        </div>