<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - SG</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
  
</head>
<body>
    <header>
        <div class="header">
            <img src="img/letrasLogo.png" alt="Logo" class="letras-logo">
            <img src="img/dpad.png" alt="Logo" class="imagen-logo">
            <form class="barra-busqueda">
				<input type="text" name="searchbar" placeholder="buscar" size="15">
        </div>
    </header>

    <main>

    </main>
    
    <footer>
 
    </footer>
    
</body>
</html>