<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head") %>
<body>
    <%- include ("./partials/header") %>

    <main>
        <%- include ("./partials/banner") %>

        <section class="productos">
            <h2>Consolas</h2>
            <div class="lista-de-productos">
                <div class="producto">
                    <h3>Playstation 5</h3>
                    <img src="../img/ps5-product.jpg" alt="">
                    <p>Descripción Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="producto">
                    <h3>Playstation 5</h3>
                    <img src="../img/ps5-product.jpg" alt="">
                    <p>Descripción Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="producto">
                    <h3>Playstation 5</h3>
                    <img src="../img/ps5-product.jpg" alt="">
                    <p>Descripción Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="producto">
                    <h3>Playstation 5</h3>
                    <img src="../img/ps5-product.jpg" alt="">
                    <p>Descripción Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <h2>Juegos</h2>
            <div class="lista-de-productos">
                <div class="producto">
                    <h3>Playstation 5</h3>
                    <img src="../img/ps5-product.jpg" alt="">
                    <p>Descripción Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="producto">
                    <h3>Playstation 5</h3>
                    <img src="../img/ps5-product.jpg" alt="">
                    <p>Descripción Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="producto">
                    <h3>Playstation 5</h3>
                    <img src="../img/ps5-product.jpg" alt="">
                    <p>Descripción Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="producto">
                    <h3>Playstation 5</h3>
                    <img src="../img/ps5-product.jpg" alt="">
                    <p>Descripción Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </section>

    </main>
    
    <%- include ("./partials/footer") %>
    
</body>
</html>