<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - SG</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
  
</head>
<body>
    <header>
        <div class="header">
        <div class='logos'> <a href='#'> <img src="img/letrasLogo.png" alt="Logo" class="logo-letras"></a>
           <a href='#'> <img src="img/dpad.png" alt="Logo" class="logo-imagen"></a>
        </div>
            <div class="barra-busqueda"><p>Buscar</p></a></div>
           <div class='r-icons'><a href="#"> <img src="img/usuario.png" alt="Logo" class="usuario"></a>
           <a href="#"> <img src="img/carrito.png" alt="Logo" class="carrito"></a>
        </div>
        </div>
    </header>


    <main>
        <h1>Playstation 5</h1>
        <h3>Lo último en rendimiento o alguna descripción del estilo</h3>
        <img src="img/ps5-product.jpg" alt="" class="imagen-producto">
        <h3>De nuevo, algo de marketing, despues busco en la pag oficial</h3>
        <div class="galeria-imagenes">
            <img src="img/ps5-product.jpg" alt="" class="imagen-galeria">
            <img src="img/ps5-auriculares.jpg" alt="" class="imagen-galeria">
            <img src="img/ps5-controller.jpg" alt="" class="imagen-galeria">
            <img src="img/ps5-banner.jpg" alt="" class="imagen-galeria">
        </div>
        <section class="descripcion">
            <p>Descipción: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat incidunt harum, odit, temporibus assumenda quidem, obcaecati amet debitis iusto eveniet illum minus. In expedita illum nobis eligendi accusamus iste. Cupiditate?</p>
        </section>
    </main>
    
    <footer>
        <div class="footer">
            <p>Texto de tipo legal. Todos los derechos reservados, etc, etc, etc. Copyright 2021</p>
        </div>
    </footer>
    
</body>
</html>