<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - SG</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
  
</head>
<body>
    <header>
        <%- include ("./partials/header") %>
    </header>


    <main>
        <h1>Playstation 5</h1>
        <h3>Lo último en rendimiento o alguna descripción del estilo</h3>
        <img src="img/ps5-product.jpg" alt="" class="imagen-producto">
        <div class="control-botones">
            <button type="button" class="botones">Agregar al carrito</button>
            <button type="button" class="botones">Comprar ahora</button>
        </div>
        <h3>De nuevo, algo de marketing, despues busco en la pag oficial</h3>
        <div class="galeria-imagenes">
            <img src="img/ps5-product.jpg" alt="" class="imagen-galeria">
            <img src="img/ps5-auriculares.jpg" alt="" class="imagen-galeria">
            <img src="img/ps5-controller.jpg" alt="" class="imagen-galeria">
            <img src="img/ps5-banner.jpg" alt="" class="imagen-galeria">
        </div>
        <section class="descripcion">
            <p>Descipción: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat incidunt harum, odit, temporibus assumenda quidem, obcaecati amet debitis iusto eveniet illum minus. In expedita illum nobis eligendi accusamus iste. Cupiditate?</p>
        </section>
        <section class="especificaciones">
            <h3>Especificaciones:</h3>
            <ul>
                <li>Caract 1</li>
                <li>Caract 2</li>
                <li>Caract 3</li>
                <li>Caract 4</li>
                <li>Caract 5</li>
                <li>Caract 6</li>
                <li>Caract 7</li>
                <li>Caract 8</li>
            </ul>
        </section>
    </main>
    
    <footer>
        <%- include ("./partials/footer") %>
    </footer>
    
</body>
</html>