<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  

</head>

<body>
    <header>
        <%- include ("./partials/header") %>
    </header>

    <main>
        <form method="GET" action="/" class="formulario">
            <h3>Crear nuevo usuario</h3>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="user_name">


            <label for="email">Correo electrónico:</label>
            
            <input type="email" id="mail" name="user_mail">


            <label for="password">Contraseña:</label>
            
            <input type="password" id="pass" name="user_pass">


            <label for="password">Repetir contraseña:</label>
            
            <input type="password" id="pass" name="user_pass">

            <button id="registrarse" action="submit">Registrarse</button>
            <p id="crear-cuenta">Crear cuenta con:</p>
            <div class="logos-google-facebook">
                <i class="fab fa-google"></i>
                <i class="fab fa-facebook-square"></i>
            </div>

        </form>
    </main>

    <footer>
        <%- include ("./partials/footer") %>
    </footer>

</body>

</html>