* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    border: solid 1px gray;
}

.header {
    background-color: #a4c3b2;
    width: 100%;
    height: 50px;
}

.letras-logo {
    width: auto;
    height: 25px;
    padding-left: 10px;
    display: inline-block;
}

.imagen-logo {
    width: auto;
    height: 40px;
    padding-top: 5px;
    display: inline-block;
}

.barra-busqueda {
    display: inline-block;
    padding-right: 14px;
}


