<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include ("./partials/head") %>
<body>
    <!-- Header -->
    <%- include ("./partials/header") %>

    <main>
        <!-- Banner -->
        <%- include ("./partials/banner") %>
        
            <form action="/products/create" method="POST" enctype="multipart/form-data" class="formulario">

            <h3>Crear producto</h3>

            <label for="name">Nombre:</label><!-- no se ve en el formulario -->
            <input type="text" id="name" name="name">

            <label for="marca">Marca:</label>
            <select id="marca" name="marca">
              <option value="1">Play-Station</option>  
              <option value="2">Xbox</option>   
              <option value="3">Nintendo</option>
              <option value="4">Otro</option>
            </select>  
            
            <label for="tipoProd">Tipo de Producto:</label>
            <select id="tipoProd" name="tipoProd">
                <option value="1">Juego</option>  
                <option value="2">Consola</option>   
                <option value="3">Accesorio</option>
              </select>  

              <label for="imgProd">Imagen del Producto:</label>
              <input type="file"
                     id="imgProd" name="imgProd"
                     accept="image/png, image/jpeg">

            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio">

            <label for ='descripcion'>Descripción</label>
            <textarea name="descripcion" id="descripcion" rows="10" cols="30"></textarea>    

            <button id="agregarProd" action="submit">Crear</button>
            <button id='reiniciarProd' action='reset'>Borrar</button>

        </form>

    <!-- Footer -->
    <%- include ("./partials/footer") %>
    
</body>
</html>