<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include ("./partials/head") %>
<body>
    <!-- Header -->
    <%- include ("./partials/header") %>

    <main>
        <!-- Banner -->
        <%- include ("./partials/banner") %>
        
            <form action="/products/create" method="POST" enctype="multipart/form-data" class="formulario">

            <h3>Crear producto</h3>

            <label for="name">Nombre:</label><!-- no se ve en el formulario -->
            <input type="text" id="name" name="name">

            <label for="brand">Marca:</label>
            <select id="brand" name="brand">
              <option value="1">Sony</option>  
              <option value="2">Nintendo</option>
              <option value="3">Microsoft</option>   
            </select>  

            <label for="category">Tipo de Producto:</label>
            <select id="category" name="category">
                <option value="1">Consola</option>   
                <option value="2">Juego</option>  
                <option value="3">Accesorio</option>
              </select>  

              <label for="image">Imagen del Producto:</label>
              <input type="file"
                     id="imgProd" name="image"
                     accept="image/png, image/jpeg">

            <label for="price">Precio:</label>
            <input type="number" id="price" name="price">

            <label for ='descripcion'>Descripción</label>
            <textarea name="descripcion" id="descripcion" rows="10" cols="30"></textarea>    

            <button id="agregarProd" action="submit">Crear</button>
            <button id='reiniciarProd'action='reset'>Borrar</button>

        </form>

    <!-- Footer -->
    <%- include ("./partials/footer") %>
    
</body>
</html>