<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  
</head>
<body>
    <header>
        <%- include ("./partials/header") %>
    </header>

    <main>
        <article>
            
            <form method="POST" action="/users/login" class="formulario">
                <h3>Iniciar Sesión</h3>
                <label for="name">Email:</label>
            
                <input type="email" id="name" name="email">
                <% if (locals.errors && errors.email) { %>
                    <div class='text-danger'>
                        <%= errors.email.msg   %> 
                     </div>
                <% } %>
                    <label for="password">Contraseña:</label>
                    
                    <input type="password" id="pass" name="password">
                    <a id="forgot-pasword" href="">Olvidaste tu contraseña?</a>
                
            <button action="submit" id="registrarse">Ingresar</button><br>
            <p id="crear-cuenta">Ingresar con:</p>
            <div class="logos-google-facebook">
            <i class="fab fa-google"></i>
            <i class="fab fa-facebook-square"></i>
            </div>
            </form>
            
        

        </article>
    </main>
    
    <footer>
        <%- include ("./partials/footer") %>
    </footer>

    <script src="/js/userValidation.js"></script>
    
</body>
</html>
