<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include ("./partials/head") %>
<body>
    <!-- Header -->
    <%- include ("./partials/header") %>

    
    <main>
        <!-- Banner -->
        <%- include ("./partials/banner") %>

        <section class="productos">


            <h2>Consolas</h2>
            <div class="lista-de-productos">
                


            </div>
            
            <h2>Juegos</h2>
            <div class="lista-de-productos">
                


            </div>

        </section>

    </main>

    <!-- Footer -->
    <%- include ("./partials/footer") %>
    
</body>
</html>