<div class="banner">
    <div class="xbox">
        <h2><a href='/xbox' class="banner-links">Xbox</a></h2>
    </div>
    
    <div class="playstation">
        <h2><a href='/playstation' class="banner-links">PlayStation</a></h2>
    </div>
    
    <div class="switch">
        <h2><a href='/switch' class="banner-links">Switch</a></h2>
    </div>
</div>