<div class="banner">
    <div class="xbox">
        <h2><a href='/xbox'>Xbox</a></h2>
    </div>
    
    <div class="playstation">
        <h2><a href='/playstation'>PlayStation</a></h2>
    </div>
    
    <div class="switch">
        <h2><a href='/switch'>Switch</a></h2>
    </div>
</div>