<header>
   <div class="header">
      <div class='logos'> <a href='/'> <img src="/img/letrasLogo.png" alt="Logo" class="logo-letras"></a>
         <a href='/'> <img src="/img/dpad.png" alt="Logo" class="logo-imagen"></a>
      </a>
      </div>
          <div>
               <form action="/products/search" method="GET">
                <input for="text" class="barra-busqueda" name="prodSearch" placeholder="buscar..."
                >
               <button action="submit">buscar</button>
            </form>
          </div>

          <% if (locals.user) { %>
          <div class='r-icons'><a href="/users/<%= locals.user.id %>"> <img src="/img/uploads/<%= locals.user.image %> " alt="Logo" class="usuario"></a>
            <a href="/products/cart"> <img src="/img/carrito.png"  alt="Logo" class="carrito"></a>
         </div>
           
          <% } else { %>
           

            <div class='r-icons'>
               <a href="/users/Register"> <img src="/img/usuarioRegister.png" alt="Registro" class="usuario"></a>
               </a>

               <a href="/users/login"> <img src="/img/usuarioLogin.png" alt="ingresar" class="usuario"></a>

               <a href="/products/cart"> <img src="/img/carrito.png" alt="Logo" class="carrito"></a>

         <% } %> 
      </div>
         
           
         
   </div>
</header>
 
