<header>
   <div class="header">
      <div class='logos'> <a href='/'> <img src="/img/letrasLogo.svg" alt="Logo" class="logo-letras"></a>
         <a href='/'> <img src="/img/dpad.svg" alt="Logo" class="logo-imagen"></a>
      </a>
      </div>
          <div>
               <form action="/products/search" method="GET">
                <input for="text" class="barra-busqueda" name="prodSearch" placeholder="buscar..."
                >
               <button action="submit" class="boton-buscar">Buscar</button>
            </form>
          </div>
           
            <div class='r-icons'>
               
               
               <% if (!locals.loggedUser) { %>

                  <a href="/users/Register"> <img src="/img/user-plus-solid.svg" alt="Registro" class="usuario"></a>    
                  

                  <% } else { %>

                     <a href="/users/detail/<%= loggedUser.id %>"> <img src="/img/user-solid.svg" alt="Registro" class="usuario"></a>


                  <% } %>

               <a href="/users/login"> <img src="/img/sign-in-alt-solid.svg" alt="ingresar" class="usuario"></a>

               <!-- <a href="/products/cart"> <img src="/img/carrito.png" alt="Logo" class="carrito"></a> -->  <!-- Borro el acceso carrito mientras no está implementado. -->

      </div>
         
           
         
   </div>
</header>
 
